volumes/ospf10/backup_configs/frr*
volumes/ospf10/frr/frr.conf    
volumes/ospf10/frr/frr.conf.sav

volumes/ospf20/backup_configs/frr*
!volumes/ospf20/backup_configs/README.txt
volumes/ospf20/frr/frr.conf    
volumes/ospf20/frr/frr.conf.sav

volumes/ospf30/backup_configs/frr*
volumes/ospf30/frr/frr.conf    
volumes/ospf30/frr/frr.conf.sav

compose.yaml

running.conf
running.conf.last
